<%- include('./partials/header') %>
<main>
    <section id="catalog">
      <h1>Notre catalogue</h1>

      <div class="coffee-list">
        <% coffees.forEach(coffee => { %>
          <div class="coffee-card">
            <h3><%= coffee.name %></h3>
            <p><%= coffee.description %></p>
            <p>Prix au kilo : <%= coffee.price_per_kilo %>€</p>
            <a class="button-outline" href="/catalog/detail/<%= coffee.id%>">Voir le détail</a>
          </div>
        <% }); %>
      </div>
      
      <!-- Afficher le bouton seulement si on ne montre pas déjà tous les cafés -->
      <% if (!showAll) { %>
        <a href="/catalog?showAll=true" class="button" id="see-all-products-button">Voir tous les cafés</a>
      <% } else { %>
        <a href="/catalog" class="btn">Voir moins</a>
      <% } %>

    </section>

  </main>



<%- include('./partials/footer') %>